---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="flex flex-1 flex-col items-center justify-center text-center">
        <h1 class="text-9xl font-bold text-accent mb-2">404</h1>
        <p class="text-muted mb-8">This page doesn't exist!</p>
        <a href="/" class="px-6 py-3 bg-surface-2 rounded-lg text-base"> Go home </a>
    </main>
</Layout>
