---
import GithubCommit from "../components/GithubCommit.astro";
import VisitsCounter from "./VisitsCounter.astro";
// import SnowToggle from "./SnowToggle.svelte";
import SpringToggle from "./SpringToggle.svelte";
// import RainToggle from "./RainToggle.svelte";
import ThemeToggle from "./ThemeToggle.svelte";
import IconTooltip from "./IconTooltip";
const currentYear = new Date().getFullYear();
---

<footer class="w-full px-6 sm:px-12 md:px-24 lg:px-36 pt-12">
    <hr class="max-w-3xl text-ctp-subtext0 mx-auto" />
    <div class="max-w-3xl mx-auto py-4 flex flex-row gap-3 sm:items-center justify-between text-sm">
        <div>
            <span>© {currentYear} Aaron Ye</span>
        </div>
        <div class="flex items-center gap-3 sm:gap-4">
            <div class="flex items-center gap-2.5 sm:gap-3">
                <IconTooltip label="Toggle theme" client:idle>
                    <ThemeToggle client:idle />
                </IconTooltip>
                <!-- <SnowToggle client:idle /> -->
                <IconTooltip label="Toggle petals" client:idle>
                    <SpringToggle client:idle />
                </IconTooltip>
                <!-- <RainToggle client:idle /> -->
            </div>
            <span class="hidden sm:inline text-ctp-surface0">|</span>
            <div class="flex items-center gap-3 sm:gap-5">
                <GithubCommit />
                <VisitsCounter />
            </div>
        </div>
    </div>
</footer>
