---
import { Icon } from "astro-icon/components";
import { GET } from "../pages/api/git-commit.ts";
import GitTooltip from "./GitTooltip";

const githubCommitResponse = await GET();
const githubCommitData = await githubCommitResponse.json();
---

<GitTooltip client:idle commitDate={githubCommitData.commitDate}>
    <a
        href={githubCommitData.commitUrl}
        target="_blank"
        rel="noreferrer noopener"
        class="flex items-center gap-2 hover:text-accent duration-200 group"
    >
        <Icon
            name="tabler--git-commit"
            class="mt-0.5 w-4 h-4 text-muted group-hover:text-accent duration-200"
            aria-hidden="true"
        />
        <span>{githubCommitData.shortSha ?? "unknown"}</span>
    </a>
    <a
        slot="fallback"
        href={githubCommitData.commitUrl}
        target="_blank"
        rel="noreferrer noopener"
        class="flex items-center gap-2"
    >
        <Icon
            name="tabler--git-commit"
            class="mt-0.5 w-4 h-4 text-muted"
            aria-hidden="true"
        />
        <span>loading...</span>
    </a>
</GitTooltip>
