---
import NavLinks from "./NavLinks.svelte";
import Contacts from "./Contacts.astro";

interface Props {
    currentPath: string;
}

const { currentPath } = Astro.props;
---

<a href="/" class="font-serif text-xl text-accent no-underline">aaron ye</a>
<div class="flex items-center gap-6">
    <NavLinks {currentPath} client:idle />
    <span class="text-line">|</span>
    <Contacts />
</div>
