---
import NavLinks from "./NavLinks.svelte";
import Contacts from "./Contacts.astro";
const currentPath = Astro.url.pathname;
---

<div class="pt-12 pb-2 flex flex-col gap-2 sm:gap-0">
    <div class="flex flex-col items-center gap-1 sm:hidden">
        <a href="/" class="text-2xl font-bold text-ctp-mauve">Aaron Ye</a>
        <Contacts />
        <nav class="pt-1">
            <NavLinks currentPath={currentPath} client:idle />
        </nav>
    </div>
    <div class="hidden sm:flex justify-between items-center">
        <a href="/" class="md:text-3xl text-2xl font-bold text-ctp-mauve">Aaron Ye</a>
        <nav class="flex items-center gap-6">
            <NavLinks currentPath={currentPath} client:idle />
            <span class="text-ctp-surface1">|</span>
            <Contacts />
        </nav>
    </div>
</div>
<hr class="border-1 text-ctp-subtext0" />
