---
import { Icon } from "astro-icon/components";
import VisitsCounterTooltip from "./VisitsCounterTooltip";
---

<VisitsCounterTooltip client:idle>
    <span
        class="flex items-center gap-2 hover:text-ctp-mauve-100 duration-200 group"
        id="visits-counter"
    >
        <Icon
            name="tabler--eye"
            class="mt-0.5 w-4 h-4 text-ctp-subtext0 group-hover:text-ctp-mauve-100 duration-200"
            aria-hidden="true"
        />
        <span id="visits-count">loading...</span>
    </span>
    <span slot="fallback" class="flex items-center gap-2">
        <Icon name="tabler--eye" class="mt-0.5 w-4 h-4 text-ctp-subtext0" aria-hidden="true" />
        <span>loading...</span>
    </span>
</VisitsCounterTooltip>

<script>
    if (import.meta.env.PUBLIC_ENV !== "DEV") {
        window.addEventListener("DOMContentLoaded", async () => {
            try {
                const visitsCounterResponse = await fetch("/api/increment-visits-count", {
                    method: "POST",
                });
                const visitsCounterData: { countValue: string | null } =
                    await visitsCounterResponse.json();
                document.getElementById("visits-count")!.textContent =
                    visitsCounterData.countValue ?? "unknown";
            } catch {
                document.getElementById("visits-count")!.textContent = "unknown";
            }
        });
    }
</script>
