---
import "../styles/global.css";
import "@fontsource/instrument-sans";
import Footer from "../components/Footer.astro";
import Snow from "../components/Snow.svelte";
// import Spring from "../components/Spring.svelte";
// import Rain from "../components/Rain.svelte";
import TitleSection from "../components/TitleSection.astro";

const env = import.meta.env.PUBLIC_ENV as string;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Aaron Ye</title>
        {
            env === "PROD" && (
                <script
                    defer
                    src="https://cloud.umami.is/script.js"
                    data-website-id="b38508b6-617a-47cf-9743-2bf62ecdca50"
                />
            )
        }
    </head>
    <body class="bg-ctp-base text-ctp-text mocha">
        <div class="flex flex-col justify-between min-h-screen">
            <div>
                <Snow client:only="svelte" />
                <!-- <Spring client:only="svelte" /> -->
                <!-- <Rain client:only="svelte" /> -->
                <div class="px-6 sm:px-12 md:px-24 lg:px-36 flex justify-center">
                    <div class="w-full max-w-3xl">
                        <TitleSection />
                        <slot />
                    </div>
                </div>
            </div>
            <Footer />
        </div>
    </body>
</html>
